{% extends 'base.html' %}

            {% block intro %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Eventunity</h1>
                        <h3>Find community events near you</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://github.com/pabluk/eventunity" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}
