[Desktop Entry]
Name=Eventunity
Exec=ubuntu-html5-app-launcher $@ --www=www
Icon=www/img/eventunity.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
